name = "telegram-cdn-worker"
main = "worker.js"
compatibility_date = "2024-01-01"

[[kv_namespaces]]
binding = "VIDEOS"
id = "24ab430367f54e46af967d543764dd97"
preview_id = "2ed6e71ed7244a17ae0b7b3557a31b38"

[vars]
CHANNEL_ID = "-1003683878483"
MTPROTO_SERVICE_URL = "https://telegram-mtproto-service.onrender.com"
